{% extends 'layout.html' %} {% block content %}
<div class="container addword">
  {% if not session.get('name')%}
  <div style="margin-top: 5rem">
    <h3>Please Login to submit word</h3>
    <form
      action="{{url_for('userlogin')}}"
      method="GET"
      style="margin-top: 5rem"
    >
      <button class="form-control-label button">Login</button>
    </form>
  </div>
  {% endif %} {% if session['name']%}
  <div style="margin-top: 5rem">
    <h3>Logged in as, {{session['name']}}</h3>
    <form
      action="{{url_for('userlogout')}}"
      method="GET"
      style="margin-top: 5rem"
    >
      <button class="form-control-label">Logout</button>
    </form>
  </div>
  {% endif %}

  <div style="margin-top: 2rem">
    <form action="/addword" method="POST">
      <div class="form-group row">
        <label for="word" class="col-sm-2">Word:</label>
        <input
          type="text"
          class="form-control-label col-sm-4"
          id="word"
          name="word"
          required
        /><br>
      </div>
      <div class="form-group row" style=" margin-top: 1rem;">
        <label for="def" class="col-sm-2">Definition: </label>
        <textarea
          type="text"
          id="def"
          class="form-control-label col-sm-6"
          cols="80"
          name="def"
          required
        ></textarea>
        <br>
      </div>
      <div class="form-group row" style="margin-top: 1rem;">
        <label for="exp" class="col-sm-2">Explanation: (optional)</label>
        <textarea
          type="text"
          id="exp"
          class="form-control-label col-sm-6"
          cols="100"
          name="exp"></textarea>
<br >
<div class="form-group row">
<p class="col-sm-2"></p>
<label for="anonCheck" style="margin-top: 2rem;" class="col-sm-6">
<input type="checkbox" id="anonCheck" name="anonCheck" value="anonTrue">
Submit anonymously</label>
</div>

      </div>
      <input type="submit" value="submit" class="button" />
    </form>
  </div>
</div>
{% endblock content %}
