body{
    background-color:  #151f28;
    margin-bottom: 5rem;
}

#card{
    align-items: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    background-color: #0000002a;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'poppins';
    color: white;

}

.navbar{
    background-color: #1B2936;
    border-color: #1FA2F3;
    border-width: 0px 0px 2px 0px;
}
    /* @media (max-width: 978px) {
    #nav .container{
        margin:0;
        }
    } */

.nav-item .nav-link{
    color: white;
}
.navbar-brand{
    color: white;
    font-size: 2rem;
}



#exp{
    white-space: pre-line;
    font-size: larger;
    font-family:'Inconsolata', monospace;
    word-spacing: 2px;
    line-height: 1.3;
    font-weight: 600;
}


#definition{
    box-sizing: border-box;
    font-size: larger;
    font-family:'Inconsolata', monospace;
    word-spacing: 2px;
    line-height: 1.3;
    font-weight: 600;
    
}

#userHandle{
    opacity: 60%;
}


#word{
    margin-bottom: 0.5rem;

color:#1FA2F3;
font-size: 2rem;
font-family:'Source Code Pro';
padding:5px 0;
font-weight: 700;
}
    
.updown{
    color: #1FA2F3;
}
.updown:hover{
    color:white;
}

#profilepic{
    width: 40%;
    border-radius: 50%;
}


#upvote
{
}



#downvote
{
}


@media screen and (min-width: 480px) {
#navmargin{
    margin-left: 1rem;
}
}
@media screen and (min-width: 768px) {

    /* .row{
        margin-left: 2rem;
    } */
    #navmargin{
        margin-left: 6rem;
    }
}
@media screen and (min-width: 990px) and (max-width:1024px) {
    /* .row{
        margin-left: 2rem;
    } */
    #navmargin{
        margin-left: 12.4rem;
    }
}
@media screen and (min-width: 1024px) {

    #navmargin{
        margin-left: 13rem;
    }
}
@media screen and (min-width: 1200px) {
    #navmargin{
        margin-left: 18rem;
    }
}
@media screen and (min-width: 1400px) {
    #navmargin{
        margin-left: 22rem;
    }
}

#nav a:hover{
    color:rgb(3, 155, 237);
}

#nav button i{
    color:rgb(255, 255, 255);

}
#nav i:hover{
    color:rgb(3, 155, 237);
}

#nav{
    
    height: 5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Zen Old Mincho';
    font-weight: 700;
}
.alert-success {
    background-color: #ffffff;
    border-color:#1FA2F3;   
}
.alert {
    color: #000;
    border-style: solid;
    border-width: 0px 0px 3px 5px;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-bottom: -1rem;
}

textarea{
        white-space: pre-wrap;

    }

#loginFlash{
        margin-top: 5rem;
        align-items: center;
        text-align: center;
        padding-left: 0;
        background-color: aquamarine;
}
ul {
    list-style-type: none;
  }
    
#loginCard{
padding: 30px 0;
align-items: center;
text-align: center;
margin-top: 15rem;
background-color:#1B2936;
padding-top: 1rem;
font-family: 'Inconsolata';
color: white;
}
#loginForm{
    margin-top: 0;
}


.paginationRow{
    align-items: center;
    margin-left: auto;
    
    margin-right: auto;
    margin-top: 4rem;
    color: white;
    font-family: 'Rubik';
    text-align: center;
    font-weight: 700;
}
.paginationRow a{
    color: inherit;
    margin: auto;
    font-size: 1rem;
    text-decoration: none;
    /* color: rgb(32, 128, 253); */
    color: rgb(6, 43, 255);
}
.paginationRow a:hover{
color: brown;
}
@media screen and (min-width: 980px) {
    .paginationRow .row{    
    margin: 0 20rem;
    }
@media screen and (min-width: 750px) {
    .paginationRow .row{    
    margin: 0 16rem;
    }
    }
    @media screen and (min-width: 1400px) {
        .paginationRow .row{
    margin: 0 26rem;
    }
    }
    @media screen and (min-width: 1920px) {
    .paginationRow .row{
    margin: 0 26rem;
    }
    }}

    /* add word////////////////////// */
    .addword{
        color:white;
        font-family:'Inconsolata', monospace;
        font-weight: 600;
        font-size: larger;
    }
    .addword textarea{
        background-color:#1B2936;
        color: white;
        border: groove 2px white;
        font-family:'Source Code Pro';
        word-spacing: 2px;
        line-height: 1.3;
        font-weight: 600;
    }
    .addword #word{
            background-color:#1B2936;
            color: white;
        border: groove 2px white;

            font-family:'Source Code Pro';
            word-spacing: 2px;
            line-height: 1.3;
            font-weight: 600;
        }

.addword .button{
    background-color: #1FA2F3;
    color: white;
}
.addword #logout-btn{
    background-color: #1FA2F3;
    color: white;
}
.addword #logout-btn:hover{
    background-color: #1FA2F3;
    color: black;
}
.addword .button:hover{
    background-color: #1FA2F3;
    color: black;
}